html {
    background: rgb(140, 57, 111);
}
body {
    font: 14px/1.35em Arial, Helvetica, sans-serif;
    color: white;
    width: 480px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}
