html {
    background: rgb(140, 57, 111);
}
body {
    font: 14px/1.35em Arial, Helvetica, sans-serif;
    color: white;
    width: 480px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    padding: 4px;
}

a {
    color: #562335;
}

footer {
    font-size: 10px;
    color: white;
}
footer a {
    color: white;
}
