{% extends "base.html" %}

{% block content %}
<h1>About Plum Garage</h1>
<p>Computers Suck. They are typically in your way and require lots of attention. Pretty needy for a machine. Lots of things are better though, with computers. We explore all the space inbetween. Computers should serve the humans around them.</p>
<h2>Furthermore</h2>
<p>Open Source is pretty cool. We, more or less, owe our careers to open source ideas.
    Let's have more of that. In hardware, software, interactions and business
dealings, being open whenever possible is a virtue.
{% endblock %}
